@use '../../../styles/variables.scss' as *;

.footer {
  display: flex;
  justify-content: space-between;
  padding: $spacing-150 $spacing-200;
  border-top: solid 1px $neutral-200;
  box-shadow: $shadow-small;
}
