@use '../styles/variables' as *;
@use 'sass:map';

.main {
  padding: $spacing-0 $spacing-200;
  color: $neutral-950;
  overflow-y: auto;

  .title {
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-size: map.get($preset-1, 'font-size');
    line-height: map.get($preset-1, 'line-height');
    letter-spacing: map.get($preset-1, 'letter-spacing');
  }

  .notes {
    .note {
      display: flex;
      flex-direction: column;
      padding: $spacing-100;
      gap: $spacing-150;
      border-bottom: solid 1px $neutral-200;

      &:last-child {
        border-bottom: none;
      }

      &__title {
        font-family: 'Inter', sans-serif;
        font-size: map.get($preset-3, 'font-size');
        line-height: map.get($preset-3, 'line-height');
        letter-spacing: map.get($preset-3, 'letter-spacing');
        font-weight: 600;
      }

      &__tags {
        display: flex;
        gap: $spacing-050;
      }

      &__tag {
        background-color: $neutral-200;
        font-size: map.get($preset-6, 'font-size');
        line-height: map.get($preset-6, 'line-height');
        letter-spacing: map.get($preset-6, 'letter-spacing');
        padding: $spacing-025 $spacing-075;
        border-radius: $radius-4;
      }

      &__date {
        color: $neutral-700;
        font-size: map.get($preset-6, 'font-size');
        line-height: map.get($preset-6, 'line-height');
        letter-spacing: map.get($preset-6, 'letter-spacing');
      }
    }
  }

  .notification {
    background-color: $neutral-100;
    border: solid 1px $neutral-200;
    font-family: 'Inter', sans-serif;
    font-size: map.get($preset-5, 'font-size');
    line-height: map.get($preset-5, 'line-height');
    letter-spacing: map.get($preset-5, 'letter-spacing');
    padding: $spacing-100;
    border-radius: $radius-8;
  }

  .button {
    position: fixed;
    bottom: 10%;
    right: 0;
    border-radius: $radius-full;
    background-color: $blue-500;
    height: 48px;
    width: 48px;
    margin: $spacing-200;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 11px rgba(202, 207, 216, 0.7);

    &__image {
      height: 32px;
      width: 32px;
    }
  }
}
