@use '../../styles/variables.scss' as *;

.layout {
  @include for-desktop {
    display: grid;
    grid-template: $grid-desktop;
    max-height: 100vh;
    width: 100%;
    overflow-y: hidden;
  }

  .main {
    grid-area: auto / 2 / auto / end;
    height: 100%;
    overflow-y: hidden;
  }
}
