@use '../../styles/variables.scss' as *;
@use 'sass:map';

.notes {
  padding: $spacing-0 $spacing-200;
  color: $neutral-950;
  overflow-y: auto;
  position: relative;

  @include for-tablet {
    padding: $spacing-0 $spacing-400;
  }

  @include for-desktop {
    padding: 0;
    height: 100%;
  }

  &__title-bar {
    @include for-desktop {
      padding: 0 $spacing-400;
      border-bottom: solid 1px $neutral-200;
      display: flex;
      justify-content: space-between;
      height: 70px;
    }
  }

  &__title {
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-size: map.get($preset-1, 'font-size');
    line-height: map.get($preset-1, 'line-height');
    letter-spacing: map.get($preset-1, 'letter-spacing');
    grid-column: auto / span 2;
  }

  &__toolbar {
    display: none;

    @include for-desktop {
      display: flex;
      align-items: center;
      gap: $spacing-200;
    }
  }

  &__searchbar {
    height: 42px;
    width: 300px;
  }

  &__list {
    @include for-desktop {
      width: 290px;
      padding: $spacing-250 $spacing-200 $spacing-250 $spacing-400;
      border-right: solid 1px $neutral-200;
      gap: $spacing-200;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: calc(100% - 70px);
    }
  }

  &__button-desktop {
    display: none;

    @include for-desktop {
      display: block;
      background-color: $blue-500;
      color: $neutral-0;
      text-transform: capitalize;
      padding: $spacing-200 $spacing-0;
      border-radius: $radius-8;
      font-size: map.get($preset-4, 'font-size');
      line-height: map.get($preset-4, 'line-height');
      letter-spacing: map.get($preset-4, 'letter-spacing');
    }
  }

  &__note {
    display: flex;
    flex-direction: column;
    padding: $spacing-100;
    gap: $spacing-150;
    border-bottom: solid 1px $neutral-200;

    &:last-child {
      border-bottom: none;
    }
  }

  &__note-title {
    font-family: 'Inter', sans-serif;
    font-size: map.get($preset-3, 'font-size');
    line-height: map.get($preset-3, 'line-height');
    letter-spacing: map.get($preset-3, 'letter-spacing');
    font-weight: 600;
  }

  &__note-tags {
    display: flex;
    gap: $spacing-050;
  }

  &__note-tag {
    background-color: $neutral-200;
    font-size: map.get($preset-6, 'font-size');
    line-height: map.get($preset-6, 'line-height');
    letter-spacing: map.get($preset-6, 'letter-spacing');
    padding: $spacing-025 $spacing-075;
    border-radius: $radius-4;
  }

  &__note-date {
    color: $neutral-700;
    font-size: map.get($preset-6, 'font-size');
    line-height: map.get($preset-6, 'line-height');
    letter-spacing: map.get($preset-6, 'letter-spacing');
  }

  &__notification {
    background-color: $neutral-100;
    border: solid 1px $neutral-200;
    font-family: 'Inter', sans-serif;
    font-size: map.get($preset-5, 'font-size');
    line-height: map.get($preset-5, 'line-height');
    letter-spacing: map.get($preset-5, 'letter-spacing');
    padding: $spacing-100;
    border-radius: $radius-8;
  }

  &__button-mobile-and-tablet {
    position: fixed;
    bottom: 57px;
    right: 0;
    border-radius: $radius-full;
    background-color: $blue-500;
    height: $spacing-600;
    width: $spacing-600;
    margin: $spacing-200;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 11px rgba(202, 207, 216, 0.7);

    @include for-tablet {
      bottom: 87.4062px;
      margin: $spacing-400;
    }

    @include for-desktop {
      display: none;
    }
  }

  &__icon {
    height: 32px;
    width: 32px;
  }
}
